body {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    padding: 63px 0;
}

.header-logo a {
    font-weight: 400;
    font-size: 80px;
    color: #000000;
    text-decoration: none;
}

.header-logo span {
    color: rgba(75, 202, 255, 1);
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #35444F;
}

.header-menu li {
    display: flex;
    align-items: center;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 0 38px;
    border-left: 1px solid #FFFFFF;
}

.header-menu li:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-menu li:hover {
    background: #222F3A;
}

.header-menu li a {
    color: #FFFFFF;
    text-decoration: none;
}

main {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

main aside {
    width: 344px;
    border: 1px solid #000000;
}

main article {
    width: 885px;
}

.img-container {
    width: 100%;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}

.img-container img {
    width: 320px;
    height: 381px;
}

.img-container img:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

.article-content {
    margin-bottom: 34px;
}

.article-content p {
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.aside-menu {
    display: flex;
    flex-direction: column;
}

.aside-menu li {
    padding: 0 44px;
    height: 81px;
    display: flex;
    align-items: center;
}

.aside-menu li a {
    color: #485863;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
}

.aside-menu li:hover {
    background: #DBDBDB;
    justify-content: center;
}

.aside-menu li:hover a {
    color: #35444F;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-menu li {
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.footer-menu li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-menu li a:hover {
    color: rgba(49, 129, 166, 1);
    text-decoration: underline;
}

footer .copy {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
